<h1>Inbox</h1>
<hr />
<h3 class= "text-center">Unread Messages</h3>
<ul>
<% @messages.each do |message| %>
<li><h4><%= link_to message.subject, message_path(message.id) %></h4></li>
  <% end %>
</ul>
  <hr />
<h3 class= "text-center">Sent Messags</h3>
<hr />
<% @sent_messages.each do |sent| %>
  <%= link_to sent.subject, message_path(sent.id) %>
  <% end %>