<section id="events_background">
<h1 class="text-center"><b>Events</b></h1>	
<h3 class="text-center">Click on an event title to see more information.</h3>


<!-- CALENDAR START -->
<div id="microphone" class="container">
  <h2 class="text-center">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
<!-- this calls the calendar helper (helpers/calendar_helper.rb) -->
<div class="col-md-offset-1">
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date] %>
      <ul class="list-unstyled">
        <% @events_by_date[date].each do |event| %>
          <li><%= link_to event.event_name, event %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  </div>
</div>
</div>  

</section>

<!-- CALENDAR END -->



