<%= link_to 'Back', new_search_path %>
<% if @search.search_profile.empty? %>
	<p> No Records Found. </p>
<% else %>
	<% @search.search_profile.each do |profile|%>
		<%= profile.name %>
	<%end%>
<%end%>