<h1>Playlists#show</h1>
<p>Find me in app/views/playlists/show.html.erb</p>
<% if @playlist.playlist_url.include?("youtube") %>
  <iframe width="100%" height="56%" src="<%= embed_yt_url(@playlist.playlist_url) %>"></iframe>
<% elsif @playlist.playlist_url.include?("soundcloud") %>
  <iframe id="sc-widget" src="<%= embed_sc_url(@playlist.playlist_url) %>" width="100%" height="56%" scrolling="no" frameborder="no"></iframe>
<% end %>

<script type="text/javascript">
  (function(){
    var widgetIframe = document.getElementById('sc-widget'),
        widget       = SC.Widget(widgetIframe);

    widget.bind(SC.Widget.Events.READY, function() {
      widget.bind(SC.Widget.Events.PLAY, function() {
        // get information about currently playing sound
        widget.getCurrentSound(function(currentSound) {
          console.log('sound ' + currentSound.get('') + 'began to play');
        });
      });
      // get current level of volume
      widget.getVolume(function(volume) {
        console.log('current volume value is ' + volume);
      });
      // set new volume level
      widget.setVolume(50);
      // get the value of the current position
    });

  }());
</script>

