<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SceneSurvivalKit</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <link href="/assets/logged_in.css" rel="stylesheet">
      <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/assets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/creative.css" type="text/css">
  </head>
  <body>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
    <script src="/assets/cbpAnimatedHeader.js"></script>
    <script src="/assets/jquery.easing.min.js"></script>
    <script src="/assets/jquery.fittext.js"></script>
    <script src="/assets/wow.min.js"></script>
    <script src="/assets/creative.js"></script>
    <script src="/assets/classie.js"></script>
  </body>
</html>
